<div class="alert alert-secondary d-none mb-3" data-region="filter-empty" role="status">
    {{filterempty}}
</div>
<div class="table-responsive" data-region="student-table">
    <table class="table table-striped generaltable livequizmonitor-table">
        <thead>
            <tr>
                <th>{{tableheaders.status}}</th>
                <th>{{tableheaders.student}}</th>
                {{#showemailcolumn}}
                <th>{{tableheaders.email}}</th>
                {{/showemailcolumn}}
                <th>{{tableheaders.progress}}</th>
                <th>{{tableheaders.timeremaining}}</th>
                {{#showactionscolumn}}
                <th>{{tableheaders.actions}}</th>
                {{/showactionscolumn}}
            </tr>
        </thead>
        <tbody>
            {{#students}}
            {{> quiz_livequizmonitor/student_row }}
            {{/students}}
        </tbody>
    </table>
</div>
